<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
  Choose update button:
  <form th:action="@{/main/update-name}">
    <div class="form-group" style="margin-top: 10px">
      <button class="btn btn-primary" type="submit">Name</button>
    </div>
    </div>
  </form>
  <form th:action="@{/main/update-status}">
    <div class="form-group" style="margin-top: 10px">
      <button class="btn btn-primary" type="submit">Status</button>
    </div>
    </div>
  </form>
</body>
</html>